section{
    display: flex;
    width: 100%;
    min-height: 70vh;
}
.devLepOne{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.devLepOne img{
    width: 300px;
    height: 300px;
}
.secHULF{
    display: flex;
    width: 50%;
    height: 100%;
    gap: 40px;
    flex-direction: column;
}
.devLepTwo{
    display: flex;
    flex-direction: column;
}
.devLepTwo img{
    width: 100px;
    height: 100px;
}
.quantity{
    width: 100%;
}