@import '../node_modules/@n8n/chat/dist/style.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.TEXT input:focus {
  outline: none;
  border-color: #1DB954 !important;
  box-shadow: 0 0 0 4px rgba(33, 124, 68, 0.2);
  transform: translateY(-1px);
}

